<div class="d-flex">
    <!-- <div class="btn btn-primary ms-auto me-auto">123</div> -->
    <aside class="sidebar vh-100 border-end d-flex flex-column">
        <div>
            <img class="ms-32 mb-30" src="../assets/images/logo-ANSWER.svg" alt="logo">
        </div>
        <ul class="">
            <li class="">
                <a href="" class="sidebar-link active d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        bar_chart
                    </span>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        question_answer
                    </span>
                    <p>Question</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        assignment
                    </span>
                    <p>Assignment</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        video_library
                    </span>
                    <p>Course</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        group
                    </span>
                    <p>Admin</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        settings
                    </span>
                    <p>Settings</p>
                </a>
            </li>
            <li class="">
                <a href="" class="sidebar-link  d-flex">
                    <span class="material-symbols-outlined me-3 ms-32">
                        bar_chart
                    </span>
                    <p>Dashboard</p>
                </a>
            </li>
        </ul>
        <!-- 個人介紹 -->
        <div class="mt-auto d-flex mb-32 ms-32">
            <img src="../assets/images/andychen.jpeg" width="40" height="40" class="rounded-circle me-3" alt="">
            <div>
                <h2 class="h2 mb-1 fw-bold">Andy Chen</h2>
                <p>andy0401@mail.com</p>
            </div>
        </div>
    </aside>
</div>